*.pyc
*.egg
*.egg-info
*.pyc
*$py.class
*~
/.eggs
build/
dist/
bin/
lib/
include/
.idea/
distribute-*.tar.gz
env*/
_env*/
.coverage
.coveragerc
.coverage.*
.tox/
nosetests.xml
coverage.xml
nosetests-*.xml
coverage-*.xml
